<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://file.myfontastic.com/ScGBhhGWWosoc9ykTwYMG3/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>


<%- include partials/navbar.ejs %>

<br/>
<br/>
<br/>
<br/>
<br/>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 clearfix" id="blogList">
			 <% for(var i = 0 ; i < blogList.length ; i++) { %>
				<div class="post-outer">
					<div class="panel panel-default">
					  <div class="panel-body">
						<h2 class="post-title entry-title"> <%= blogList[i].postTitle %> </h2>
						<div class="post-body">
							<blockquote>
							  <p> <%= blogList[i].postBody %> </p>
							  <footer>Posted by <span> <%= blogList[i].posterName %> </span> on <span><%= blogList[i].postDate %> </span></footer>
							</blockquote>
						</div>
					  </div>
					</div>
				</div>
				<% } %>
<!-- 				<div class="post-outer">
					<div class="panel panel-default">
					  <div class="panel-body">
						<h2 class="post-title entry-title">Apples and Ideas</h2>
						<div class="post-body">
							<blockquote>
							  <p>If you have an apple and I have an apple and we exchange these apples then you and I will still each have one apple. But if you have an idea and I have an idea and we exchange these ideas, then each of us will have two ideas.</p>
							  <footer>Posted by <span>George Bernard Shaw</span> on <span>2015-01-01</span></footer>
							</blockquote>
						</div>
					  </div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 clearfix">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Add New Post</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" action="/api/blogs" method="POST" role="form">
						    <div class="col-sm-12">
						        <div class="row form-group">
						            <div class="col-xs-4">
						                <input class="form-control" name="name" placeholder="Name" id="posterName" required="" type="text">
						            </div>
						            <div class="col-xs-8">
						                <input class="form-control" name="title" placeholder="Title" id="postTitle" required="" type="text">
						            </div>
						        </div>
						        <div class="row form-group">
						            <div class="col-xs-12">
						                <!-- <input class="form-control" placeholder="Body" required="" type="homepage"> -->
						                <textarea class="form-control" rows="5" placeholder="Body" id="postBody"></textarea>
						            </div>
						        </div>
						        <div class="row form-group">
						            <div class="col-xs-11">
						                <button class="btn btn-info pull-right" id="">Add Post</button>
						            </div>
<!-- 						            <div class="col-xs-2">
						                <button class="btn btn-danger pull-right" id="deleteBlog">Delete All</button> -->
						            </div>
						        </div>
						    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<%- include partials/footer.ejs %>


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
	<!-- <script src="https://code.jquery.com/jquery-2.2.0.js"></script> -->
	<!-- <script src="app.js"></script> -->
  </body>
</html>




	